# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
/*/target
/.settings
/.classpath
/.project
*.epoch
*.log
*.iml
/.idea
.mvn/wrapper/maven-wrapper.jar
