<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--测试原始spring配置文件能否在Spring Boot中被加载-->
    <bean id="helloService" class="cn.rain.service.HelloService"/>

    <!--测试@ImportResources注解除了标注在主配置类上，是否标注在任何配置类上都起作用-->
    <bean id="testService" class="cn.rain.service.TestService"/>

</beans>